@using Microsoft.AspNetCore.Identity
@using ModelData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    var fullName = currentUser?.FullName ?? currentUser?.UserName ?? "User";
    var firstName = fullName.Split(' ').First();

    // ✅ Get all roles for the user
    var roles = await UserManager.GetRolesAsync(currentUser);
    var isInAnyRole = roles != null && roles.Any();

    if (isInAnyRole)
    {

        <li>
            <a asp-area="Admin" asp-page="/Dashboard/Index" target="_blank"><i class="fa fa-dashboard" aria-hidden="true"></i>  Dashboard</a>
        </li>
    }
    else
    {
       

        <li class="submenu">
            <a href="#">
                Hello @firstName!
            </a>

            <!-- Submenu Start -->
            <ul class="dropdown-menu">
               
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">  Sign Out </a>
                    </li>
                 
            </ul> 

        </li>

    }

}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Login"> Sign In</a></li>


}



